@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

@import "colors";



// header start

header {
    .top-header {
        background-color: $light-green;

        a {
            color: $white;
            text-decoration: none;
            font-weight: bold;
            margin-right: 10px;
        }

        .icon-container {
            a {
                margin: 0 10px;

                i {
                    position: relative;
                    background-color: $white;
                    color: $light-green;
                    border-radius: 100%;
                    padding: 5px;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    align-self: center;

                    &::before {
                        line-height: 20px;
                        position: absolute;
                        top: 0px;
                        left: 3px;
                    }
                }
            }
        }

        a:hover {
            color: $orange;
        }


    }

    .bottom-header {
        background-color: $dark-green;

        .logo-container {

            a {
                position: absolute;
                z-index: 2;
                top: -3px;
                border: 3px solid $dark-orange;
            }
        }

        .nav-link {
            padding: 25px 18px !important;
            color: $white !important;

        }


        a:hover {
            background-color: $orange;
            color: $white;

        }

        .dropdown-menu {
            background-color: $light-grey;

            a {

                padding: 15px 15px;
                color: #333333 !important;
            }
        }
    }
}

// header end


// banner slider section start
.banner {
    .carousel-inner {
        &>div {
            min-height: 540px;
        }

        .outer-content {
            display: flex;
            height: 540px;
            // justify-content: center;
            align-items: center;
        }

        .content {
            // align-self: center;
            width: 100%;
            padding: 40px 200px;

            button {
                background: $orange;
                color: white;
                border: 0;
                padding: 10px 20px;
            }
        }

        .bg-slider {
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bg-slider1 {
            @extend .bg-slider;
            background-image: url(../images/slidder-img1.jpg);
        }

        .bg-slider2 {
            @extend .bg-slider;
            background-image: url(../images/slidder-img2.jpg);
        }
        .bg-slider3 {
            @extend .bg-slider;
            background-image: url(../images/slidder-img3.jpg);
        }
        .bg-slider4 {
            @extend .bg-slider;
            background-image: url(../images/slidder-img4.jpg);
        }
        .bg-slider5 {
            @extend .bg-slider;
            background-image: url(../images/slidder-img5.jpg);
        }
        .bg-slider6 {
            @extend .bg-slider;
            background-image: url(../images/slidder-img6.jpg);
        }
    }
}