@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Roboto&display=swap');

body{
font-family: 'Open Sans Condensed', sans-serif, 'Roboto', sans-serif;
}

@import "colors";


header{
    .top-header{
        background-color: $light-green;
                a{
            color: $white;
            text-decoration: none;
            font-weight: bold;
            margin-right: 10px;
           }
        a:hover{
            color: $orange;
        }
           }
}

